# Extracted from https://github.com/ulrich/macaron-factory/blob/master/.gitignore
# Ignore all dotfiles...
.*
# except for .gitignore
!.gitignore

# Ignore Play! working directory #
bin
lib
log
logs
modules
precompiled
db
eclipse
project/project
project/target
target
tmp
dist
/out
/RUNNING_PID
test-result
server.pid
*.iml
*.eml
