<h4>
    This example illustrates how to use copy of an object <a href="http://stackoverflow.com/questions/13085024/reset-a-model-with-angular-js">(see stackoverflow question)</a>.
</h4>


<p>We define an <i>initial</i> object, and then assign it to a new object <i>datas</i> as a copy. So, these two objects are now independent.</p>

<div> initial:
    <span ng-repeat="data in initial">
        <input type="text" ng-model="data.data1" />
        <input type="text" ng-model="data.data2" />
    </span>
</div>

<div>&nbsp;datas:
    <span ng-repeat="data in datas">
        <input type="text" ng-model="data.data1" />
        <input type="text" ng-model="data.data2" />
    </span>
    <a href="" ng-click="reset()">Reset to initial value</a>
</div>

<hr />
<div>initial: {{ initial }}</div>
<div>datas: {{ datas }}</div>