<h2>Editing</h2>
<style>
    .cell-title {
        font-weight: bold;
    }

    .cell-effort-driven {
        text-align: center;
    }
</style>

<div style="position:relative">
    <div style="width:600px;">
        <slickgrid id="myGrid" options="gridOptions" style="width:100%;height:500px;"></slickgrid>
    </div>

    <div class="options-panel">
        <h2>Demonstrates:</h2>
        <ul>
            <li>adding basic keyboard navigation and editing</li>
            <li>custom editors and validators</li>
            <li>auto-edit settings</li>
        </ul>

        <h2>Options:</h2>
        <button ng-click="grid.setOptions({autoEdit:true})">Auto-edit ON</button>
        &nbsp;
        <button ng-click="grid.setOptions({autoEdit:false})">Auto-edit OFF</button>
    </div>
</div>